<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501226329148-oh1qa4403kcq7sr1e5pmohbpqssh6hjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501226329148-oh1qa4403kcq7sr1e5pmohbpqssh6hjb</string>
	<key>API_KEY</key>
	<string>AIzaSyCnDJZsyR1-fHhyk9LxfBdOtRyvAXHIs4I</string>
	<key>GCM_SENDER_ID</key>
	<string>501226329148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b39b3</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b39b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501226329148:ios:f3785e41629f0e79eadf39</string>
</dict>
</plist>